/* CURSOR */

.cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  outline: 1px solid rgba(51, 51, 51, 0.568);
  background-color: #f1f1f1;
  z-index: 2000;
  user-select: none;
  pointer-events: none;
}

.follower {
  position: fixed;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  background-color: #333;
  border-radius: 50%;
  opacity: 0.7;
  user-select: none;
  pointer-events: none;
  z-index: 1000;
}
