@import "./style.css";

/* FOOTER */

footer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  text-align: center;
  width: 100vw;
  height: 35vh;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.15) 0%,
      rgba(0, 0, 0, 0.15) 100%
    ),
    linear-gradient(90deg, rgb(0, 0, 0), rgb(0 13 36));
  box-shadow: 0px -5px 8px 0px #00000085;
}

.footerSection {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  width: 75%;
  height: 60%;
  margin: 0 auto;
}

.logoFooter {
  width: 15%;
  height: 100%;
}

.logoFooter img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.expertiseFooter,
.contactFooter {
  width: 25.5%;
  height: 100%;
  text-align: left;
  color: #fff;
  line-height: 30px;
}

.expertiseFooter h2,
.contactFooter h2 {
  margin-bottom: 10px;
}

/* RESPONSIVE */

@media screen and (max-width: 845px) {
  .footerSection {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 40%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 400px) {
  footer {
    padding: 35px 0 35px;
    height: auto;
  }

  .footerSection {
    flex-direction: column;
    align-items: center;
  }

  .logoFooter {
      width: 55%;
  }

  .expertiseFooter,
  .contactFooter
   {
    width: 100%;
    text-align: center;
  }
}
