@import "./style.css";

/* TECHNO */

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-200px);
  }
  100% {
    transform: translateX(0);
  }
}
.slider {
  position: relative;
  width: 100%;
  height: 150px;
  margin: 70px auto;
  overflow-x: hidden;
}
.slider::before,
.slider::after {
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}
.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
.slider .slide-track {
  animation: scroll 75s linear infinite;
  display: inline-flex;
}
.slider .slide {
  height: 100px;
  width: 250px;
  padding-left: 20px;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
